package main

// #cgo darwin LDFLAGS: -Wl,-undefined -Wl,dynamic_lookup
// #cgo !darwin LDFLAGS: -Wl,-unresolved-symbols=ignore-all
// #cgo CFLAGS: -IHEADER/ -IARCH/
// #include <stdlib.h>
// #include "ruby/ruby.h"
import "C"
