//export callXXXXXX
func callXXXXXX(data *C.char) *C.char {
	things := YYYYYY
	err := Unmarshal(C.GoString(data), &things)
	if err != nil {
		return C.CString(err.Error())
	}
	marshaled := C.CString(Marshal(HandleXXXXXX(things)))
	defer C.free(unsafe.Pointer(marshaled))
	return marshaled
}
