//export callXXXXXX
func callXXXXXX(data *C.char) *C.char {
	things := YYYYYY
	err := Unmarshal(C.GoString(data), &things)
	if err != nil {
		return C.CString(err.Error())
	}
	str := Marshal(HandleXXXXXX(things))
	cstr := GOSTRING_PTR(str)
	return C.rb_utf8_str_new(cstr, C.long(len(str)))
}
